@use "_mixins.scss" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  @include respondMax(400px) {
    font-size: 10px;
  }
  @include respondMax(599px) {
    font-size: 12px;
  }
  @include respondMax(768px) {
    font-size: 16px;
  }
  @include respondMax(992px) {
    font-size: 18px;
  }
  @include respondMin(1536px) {
    font-size: 20px;
  }
}
body {
  background-color: hsla(150, 83%, 55%, 0.363);
}
